.footer__link-list {
    margin: 0;
    padding: 0 0 24px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 24px;
    list-style: none;
}

@media (max-width: 797px) {
    .footer__link-list {
        width: 158px;
        flex-flow: column;
        align-items: baseline;
        padding: 0;
        margin-bottom: 48px;
    }
}