.places {
    margin: 92px auto 0;
    max-width: 991px;
    width: 100%;
}

@media (max-width: 1023px) {
    .places {
        margin: 88px auto 0;
    }
}

@media (max-width: 767px) {
    .places {
        margin: 64px auto 0;
    }
}