* {
    outline: 1px solid red;
}

a {
    text-decoration: none;
}





.header {
    position: relative;
    display: flex;
    align-items: flex-end;    
    margin: 0 48px;
    padding-top: 28px;
}

@media (max-width: 850px) {    
    .header {    
        padding-top: 18px;
        margin: 0 16px;
    }    
}








.lead {
    display: flex;
    flex-flow: column; 
    margin: 56px 148px 0 148px;
}

@media (max-width: 1054px) {
    .lead {
        margin: 48px 48px 0 48px;
    }
}
@media (max-width: 800px) {
    .lead {
        margin: 48px 0 0 0;
    }
}

.lead__title {    
    margin: 0 auto;
    text-align: center;    
    max-width: 720px;
    height: min-content;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

@media (max-width: 1054px) {
    .lead__title {
        font-weight: 900;
        font-size: 96px;
        line-height: 100px;
    }
}

@media (max-width: 600px) {
    .lead__title {
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
    }
}

.lead__subtitle {
    margin: 32px auto 64px auto;    
    text-align: center;    
    max-width: 640px;
    height: min-content;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}
@media (max-width: 600px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}


        .lead__image {
            margin: 0 auto;
            max-width: 100%;
            height: min-content;
            object-fit: cover;
        }


        .lead__caption {
            text-transform: uppercase;
            margin: 8px 0 0 0;
            font-size: 10px;
            font-weight: 400;
            line-height: 14px;
        }

.intro {
    margin: 92px 442px 0 148px;
}
@media (max-width: 1064px) {
    .intro {
        margin: 92px 286px 0 48px;
    }
}
@media (max-width: 798px) {
    .intro {
        margin: 88px 24px 0 24px;
    }
}
@media (max-width: 600px) {
    .intro {
        margin: 64px 16px 0 16px;
    }
}


        .photo-grid {
            display: grid;            
            justify-content: center;
            margin: 92px 0 0;        
            grid-template-columns: repeat(auto-fit, 284px);
            gap: 16px;
        } 

@media (max-width: 1183px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 14px;
    }
}
@media (max-width: 927px) {
    .photo-grid {
        margin: 88px 24px 0 24px;
        grid-template-columns: repeat(auto-fit, 352px);
        gap: 16px;
    }
}
@media (max-width: 719px) {
    .photo-grid {
        margin: 64px 16px 0 16px;
        grid-template-columns: repeat(auto-fit, 288px);
        gap: 12px;
    }
}

        .photo-grid__item {
            width: 100%;
            height: min-content;
            object-fit: cover;
        }

@media (max-width: 1064px) {
    .photo-grid__item {
        width: 300px;
        height: 225px;
    }
}
@media (max-width: 798px) {
    .photo-grid__item {
        width: 352px;
        height: 264px;
    }
}
@media (max-width: 600px) {
    .photo-grid__item {
        width: 288px;
        height: 216px;
    }
}



        .intro__title {
            max-width: 100%;
            height: min-content;
            margin: 0;
            font-weight: 900;
            font-size: 54px;
            line-height: 58px;
        }

        @media (max-width: 400px) {
            .intro__title {
                font-weight: 900;
                font-size: 32px;
                line-height: 35px;
            }
        }

        .intro__subtitle {
            margin: 40px 0 0 0;
            max-width: 100%;
            height: min-content;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
        }

        .intro__list {
            max-width: 100%;
            height: min-content;
            list-style: none;
            margin: 33px 0 0 0;
            padding: 0;
            font-size: 12px;
            line-height: 18px;
        }

        

        .footer {      
            display: flex;
            justify-content: space-between;
            max-width: 1184px;           
            margin: 92px auto 0;
}

@media (max-width: 797px){
    .footer {
        flex-flow: column;        
    }
}

 .footer__link-wrapper {
            display: flex;
            align-items: flex-end;
            padding-bottom: 24px;
        }
@media (max-width: 797px) {
    .footer__link-wrapper {
        width: 158px;
        flex-flow: column;
        align-items: baseline;
        padding: 0;
        margin-bottom: 48px;
    }
}


        .footer__link {
            margin:0;
            margin-right: 18px;
            color: white;
            font-size: 16px;
            line-height: 18px;            
        }
@media (max-width: 767px) {
    .footer__link {
        margin: 0 0 32px;
        font-size: 24px;
        line-height: 24px;
    }
}
.footer__link:last-child {
    margin:0;
}


        .footer__copyright {
            margin: 0;
            font-size: 14px;
            line-height: 16px;
        }

       







        .cover {
            color: white;           
            margin: 93px auto 0;
            background-image: url(./images/cover-trains.jpg);
            background-size: cover;
            overflow: hidden;
            width: 1184px;
            height: 740px;           
        }
@media (max-width: 1064px) {
    .cover {
        margin: 93px 0 0 0;
        width: 1024px;
        height: 640px;
    }
}
@media (max-width: 798px) {
    .cover {
        width: 768px;
        height: 480px;
    }
}
@media (max-width: 600px) {
    .cover {
        width: 320px;
        height: 200px;
    }
}

        .cover__overlay {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .3);
        }

        .cover__title {
            margin: 0;
            width: 560px;
            height: min-content;
            text-align: center;
            font-weight: 900;
            font-size: 72px;
            line-height: 76px;
        }
@media (max-width: 600px) {
    .cover__title {
        width: 250px;
        font-size: 32px;
        line-height: 35px;
    }
}



        .cover__subtitle {
            margin: 0;
            margin-top: 32px;
            width: 360px;
            height: min-content;
            text-align: center;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
        }
@media (max-width: 600px) {
    .cover__subtitle {
        width: 288px;
        margin-top: 15px;
    }
}   




.places {
  margin: 92px auto 0;
  max-width: 991px;
  width: 100%;
}

.place {
    max-width: 984px;
    width: 100%;
  margin: 0 auto 64px;
  padding: 0;
  display: grid;
  grid-template-columns: 460px auto;
  column-gap: 40px;
  grid-row-gap: 48px;
}

@media (max-width: 1064px) {
    .place {
        max-width:928px;
        grid-template-columns: 440px auto;
        column-gap: 32px;
    }
    
}
@media (max-width: 798px) {
    .place {
        max-width:720px;
        grid-template-columns: 340px auto;
        column-gap: 28px;
    }
    
}
@media (max-width: 600px) {
    .place {
        grid-template-columns: 320px;
        column-gap: 0;
        grid-row-gap: 32px; 
    }    
}

.place__title {
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media (max-width: 798px) {
    .place__title {
        font-size: 45px;
        line-height: 46px;    
    }
    
}
@media (max-width: 600px) {
    .place__title {
        font-size: 32px;
        line-height: 35px; 
    }
    
}
.place__image {
    object-fit: cover;  
    width: 100%;
}

@media (max-width: 1064px) {
    .place__image { 
    }
}

.website__url {
    margin: 0 0 12px 0;    
    color: #AAAAAA;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.website__link {
    color: white;
    margin:0;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
}

.place__paragraph {
    margin: 0 0 26px;
    max-width: 484px;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;    
}

@media (max-width: 798px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 163%;
    }
}
@media (max-width: 600px) {
    .place__paragraph {
        width: 288px;
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 163%;
        
    }
}
.place__paragraph:last-child {
    margin: 0;
}

.website-wrapper {  
    max-width: 456px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}




.content {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
