* {
    outline: 1px solid red;
}


.page {
    box-sizing: border-box;    
    font-family: "Inter", "Arial", sans-serif;   
    background-color: #2A2C2F;
    color: white;
    padding: 0;   
    max-width: 1024px;
    margin: 0 auto;
    display: block;      
}

.header {
    position: relative;
    display: flex;
    align-items: flex-end;    
    margin: 28px 48px 56px 48px;
}

.header__lang-link_separator {
    position: absolute;
    right: 0;
}


.photo-grid {
    margin: 92px auto auto auto;
    width: 928;
    height: 942;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    gap:14px;
}

.photo-grid__item {
  max-width: 100%;
  max-height: 100%;
 
  object-fit: cover;
}

.content {    
    margin: 0 48px 0 48px;
}




.lead__image {
    max-width: 928px;
    max-height: 580px;
    object-fit: cover;
}

.lead__title {    
    margin: 0 auto;
    text-align: center;    
    width: 720px;
    height: 200px;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

.lead__subtitle {
    margin: 32px auto 56px auto;
    
    text-align: center;    
    width: 640px;
    height: 72px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.lead__caption {
    margin: 8px 0 0 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
}

.intro {
   margin-top: 92px;
}

.intro__title {    
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

.intro__subtitle {
    margin:0;
    width: 690px;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
}

.intro__list {
    list-style: none;
    margin: 33px 0 0 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
}



.card__image {
    width:400px;
    height: 400px;
}

.__card {
    margin-top: 80px;
   
    display: flex;
}

.card__left-side {
    margin-right: 32px;
}

.places {
    
}

.card__paragraph {
    margin:0;
   
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
}

.card__right-side {
    margin-top: 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.card__heading {
    margin:0;
    margin-bottom: 48px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

.card__website {
    
}

.footer {
    margin-left: 48px;
    margin-right: 48px;
    display: flex;
    justify-content: space-between;    
    position: relative;
    margin-top: 100px;
    
}

.footer__link {
    margin-right: 18px;
}

.footer__copyright {
    margin: 0;
}

.footer__link-container {
    display: flex;
    align-items: flex-end;
    padding-bottom: 24px;
    
}

.cover {
    margin-top: 100px;
    width: 1024px;
    height: 640px;

}

.cover__background {
    background-image: url(./images/cover-trains.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    
    
}

.cover__title {
    text-align: center;
    margin: 0 auto;
    
    width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

.cover__subtitle {
    width: 360px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: auto;
    margin-top: 32px;
}
