.lead {
    display: flex;
    flex-flow: column;
    max-width: 984px;
    margin: 56px auto 0;
}

@media (max-width: 1279px) {
    .lead {
        margin: 48px auto 0;
    }
}

@media (max-width: 1023px) {
    .lead {
        margin: 48px 0 0 0;
    }
}