.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 48px;
    padding-top: 28px;
}

@media (max-width: 1023px) {
    .header {
        padding-top: 18px;
        margin: 0 16px;
    }
}