@font-face {
    src: url(../fonts/Inter/Inter-Bold.woff) format("woff"),
    url(../fonts/Inter/Inter-Bold.woff2) format("woff2");
    font-family: "Inter";
    font-weight: bold;
}

@font-face {
    src: url(../fonts/Inter/Inter-Regular.woff) format("woff"),
    url(../fonts/Inter/Inter-Regular.woff2) format("woff2");
    font-family: "Inter";
    font-weight: normal;
}

@font-face {
    src: url(../fonts/Inter/Inter-SemiBold.woff) format("woff"),
    url(../fonts/Inter/Inter-SemiBold.woff2) format("woff2");
    font-family: "Inter";
    font-weight: 600;
}

@font-face {
    src: url(./fonts/Inter/Inter-Black.ttf) format("ttf");
    font-family: "Inter";
    font-weight: 900;
}








