@font-face {
    src: url(../fonts/Inter/Inter-Regular.woff) format("woff"),
    url(../fonts/Inter/Inter-Regular.woff2) format("woff2");
    font-family: "Inter";
    font-weight: normal;
}

@font-face {
    src: url(../fonts/Inter/Inter-Black.woff) format("woff"),
    url(../fonts/Inter/Inter-Black.woff2) format("woff2");
    font-family: "Inter";
    font-weight: 900;
}

@font-face {
   src:url(../fonts/Inter/Inter-Bold.woff) format("woff"),
   url(../fonts/Inter/Inter-Bold.woff2) format("woff2");
   font-family: "Inter";
   font-weight: bold;
}

