.intro {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    max-width: 984px;
    width: 100%;
    margin: 92px auto 0;
}

@media (max-width: 1279px) {
    .intro {
        max-width: 928px;
    }
}

@media (max-width: 1023px) {
    .intro {
        max-width: 768px;
        margin: 88px auto 0;
    }
}

@media (max-width: 767px) {
    .intro {
        max-width: 320px;
        margin: 64px auto 0;
    }
}