.cover {
    margin: 93px auto 0;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
}

@media (max-width: 1279px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media (max-width: 1023px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
        margin: 90px auto 0;
    }
}

@media (max-width: 767px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
        margin: 66px auto 0;
    }
}