.cover {
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 93px auto 0;
    background-image:linear-gradient(rgba(0,0,0,0.0), rgba(42,44,47,0.3)), url("../../images/cover-trains.jpg");
    background-size: cover;    
    overflow: hidden;
    max-width: 1184px;
    min-height: 740px;

}

@media (max-width: 1279px) {
    .cover {
        margin: 92px auto;
        max-width: 1024px;
        min-height: 640px;
    }
}

@media (max-width: 1023px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
        margin: 90px auto 0;
    }
}

@media (max-width: 767px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
        margin: 66px auto 0;
    }
}