.cover {
    color: white;           
    margin: 93px auto 0;
    background-image: url(./cover-trains.jpg);
    background-size: cover;
    overflow: hidden;
    width: 1184px;
    height: 740px;           
}
@media (max-width: 1279px) {
    .cover {
        margin: 93px 0 0 0;
        width: 1024px;
        height: 640px;
    }
}
@media (max-width: 1023px) {
    .cover {
        width: 768px;
        height: 480px;
    }
}
@media (max-width: 767px) {
    .cover {
        width: 320px;
        height: 200px;
    }
}