.cover__overlay {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 740px;
    transition: 0.3s linear;
    background-color: rgba(42, 44, 47, .3);
}

.cover__overlay:hover {
    background-color: rgba(42, 44, 47, .7);
}

@media (max-width: 1279px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media (max-width: 1023px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media (max-width: 767px) {
    .cover__overlay {
        min-height: 200px;
    }
}
